<a href="https://colab.research.google.com/github/A01703130/Valores-Nulos/blob/main/Actividad_2_2_(Valores_Nulos).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from pandas import Series, DataFrame

In [ ]:
clientes = pd.read_excel('clientes.xlsx', index_col=0)
devoluciones = pd.read_excel('devoluciones.xlsx', index_col=0)
facturacion = pd.read_excel('facturacion.xlsx', index_col=0)
notas_credito = pd.read_excel('notas_credito.xlsx', index_col=0)
precios = pd.read_excel('precios_productos.xlsx', index_col=0)
gastos_20 = pd.read_excel('gastos_costos2020.xlsx', index_col=0)
gastos_21 = pd.read_excel('gastos_costos2021.xlsx', index_col=0)
gastos_22 = pd.read_excel('gastos_costos2022.xlsx', index_col=0)
gastos_23 = pd.read_excel('gastos_costos2023.xlsx', index_col=0)

**Detalle de precios y Productos fabricados**

Este dataframe no tiene datos nulos

In [ ]:
precios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1426 entries, 0 to 1425
Data columns (total 14 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   CVE_DOC                    1426 non-null   object
 1   FECHA_DOC                  1426 non-null   datetime64[ns]
 2   NOMBRE_VENDEDOR            1424 non-null   object
 3   NOMBRE_CLIENTE             1426 non-null   object
 4   CANT                       1426 non-null   int64
 5   CVE_ART                    1426 non-null   object
 6   DESCR                      1426 non-null   object
 7   PRECIO_UNITARIO            1426 non-null   float64
 8   COSTO_UNITARIO             1426 non-null   float64
 9   COSTO_UNITARIO_CALCULADO   1426 non-null   float64
 10  SUBTOTAL_PARTIDA           1426 non-null   float64
 11  COSTO_TOTAL_CALCULADO      1426 non-null   float64
 12  MARGEN_UNITARIO_CALCULADO  1426 non-null   float64
 13  MARGEN_TOTAL_CALCULADO     1426 non-null   float64
dtypes: datetime64[ns](1), float64(7), int64(1), object(5)
memory usage: 167.1+ KB

**Facturaci√≥n**

In [ ]:
facturacion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10961 entries, 0 to 10960
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CVE_DOC        10961 non-null  object
 1   CVE_CLPV       10961 non-null  object
 2   STATUS         10961 non-null  object
 3   CVE_VEND       10913 non-null  float64
 4   FECHA_ELAB     10961 non-null  datetime64[ns]
 5   FECHA_DOC      10961 non-null  datetime64[ns]
 6   FECHA_ENTREGA  10959 non-null  object
 7   FECHA_VEN      10961 non-null  datetime64[ns]
 8   FECHA_CANCELA  358 non-null    datetime64[ns]
 9   CANTD_TOT      10961 non-null  float64
 10  DES_TOT        10961 non-null  float64
 11  DES_FIN        10961 non-null  int64
 12  RFC            10961 non-null  object
dtypes: datetime64[ns](4), float64(3), int64(1), object(5)
memory usage: 1.2+ MB

In [ ]:
facturacion=facturacion.fillna({'FECHA_CANCELA':'--','CVE_VEND':'--','FECHA_ENTREGA':'--'})
facturacion.isnull().sum()

CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
FECHA_ELAB       0
FECHA_DOC        0
FECHA_ENTREGA    0
FECHA_VEN        0
FECHA_CANCELA    0
CANTD_TOT        0
DES_TOT          0
DES_FIN          0
RFC              0
dtype: int64

**Devoluciones**

In [ ]:
devoluciones.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 0 to 193
Data columns (total 17 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TIP_DOC        194 non-null    object
 1   CVE_DOC        194 non-null    object
 2   CVE_CLPV       194 non-null    object
 3   STATUS         194 non-null    object
 4   CVE_VEND       191 non-null    float64
 5   CVE_PEDI       188 non-null    object
 6   FECHA_DOC      194 non-null    datetime64[ns]
 7   FECHA_ENTREGA  194 non-null    datetime64[ns]
 8   FECHA_VEN      194 non-null    datetime64[ns]
 9   FECHA_CANCELA  7 non-null      datetime64[ns]
 10  CANTD_TOT      194 non-null    float64
 11  DES_FIN        194 non-null    int64
 12  FECHA_ELAB     194 non-null    datetime64[ns]
 13  RFC            194 non-null    object
 14  SERIE          194 non-null    object
 15  FOLIO          194 non-null    int64
 16  DOC_ANT        183 non-null    object
dtypes: datetime64[ns](5), float64(2), int64(2), object(8)
memory usage: 27.3+ KB

In [ ]:
devoluciones=devoluciones.fillna({'DOC_ANT':'--', 'CVE_PEDI':'--', 'FECHA_CANCELA':'--','CVE_VEND':'--'})
devoluciones.isnull().sum()

TIP_DOC          0
CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
CVE_PEDI         0
FECHA_DOC        0
FECHA_ENTREGA    0
FECHA_VEN        0
FECHA_CANCELA    0
CANTD_TOT        0
DES_FIN          0
FECHA_ELAB       0
RFC              0
SERIE            0
FOLIO            0
DOC_ANT          0
dtype: int64

**Clientes**

In [ ]:
clientes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5025 entries, 0 to 5024
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CLAVE   5025 non-null   object
 1   RFC     5010 non-null   object
 2   NOMBRE  5024 non-null   object
dtypes: object(3)
memory usage: 157.0+ KB

In [ ]:
clientes=clientes.fillna({'RFC':'--','NOMBRE':'--'})
clientes.isnull().sum()

CLAVE     0
RFC       0
NOMBRE    0
dtype: int64

**Notas de Cr√©dito**

In [ ]:
notas_credito.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515 entries, 0 to 514
Data columns (total 15 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TIP_DOC        515 non-null    object
 1   CVE_DOC        515 non-null    object
 2   CVE_CLPV       515 non-null    int64
 3   STATUS         515 non-null    object
 4   CVE_VEND       505 non-null    float64
 5   CVE_PEDI       515 non-null    object
 6   FECHA_DOC      515 non-null    datetime64[ns]
 7   FECHA_ENTREGA  515 non-null    datetime64[ns]
 8   FECHA_VEN      515 non-null    datetime64[ns]
 9   FECHA_CANCELA  515 non-null    object
 10  CANTD_TOT      515 non-null    float64
 11  FECHA_ELAB     515 non-null    datetime64[ns]
 12  RFC            515 non-null    object
 13  SERIE          515 non-null    object
 14  FOLIO          515 non-null    int64
dtypes: datetime64[ns](4), float64(2), int64(2), object(7)
memory usage: 64.4+ KB

In [ ]:
notas_credito=notas_credito.fillna({'CVE_PEDI':'--','FECHA_CANCELA':'--','CVE_VEND':'--'})
notas_credito.isnull().sum()

TIP_DOC          0
CVE_DOC          0
CVE_CLPV         0
STATUS           0
CVE_VEND         0
CVE_PEDI         0
FECHA_DOC        0
FECHA_ENTREGA    0
FECHA_VEN        0
FECHA_CANCELA    0
CANTD_TOT        0
FECHA_ELAB       0
RFC              0
SERIE            0
FOLIO            0
dtype: int64

**Gastos y Costos**

*Gastos y Costos 2020*

In [ ]:
gastos_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3342 entries, 0 to 3341
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3342 non-null   datetime64[ns]
 1   FOLIO        3153 non-null   object
 2   UUID         3342 non-null   object
 3   RFC          3342 non-null   object
 4   PROVEEDOR    3342 non-null   object
 5   TIPO GASTO   3342 non-null   object
 6   GASTO        840 non-null    object
 7   DESCRIPCION  3342 non-null   object
 8   TC           2951 non-null   float64
 9   IMPORTE      3308 non-null   float64
 10  IVA          3074 non-null   float64
 11  RET ISR      3342 non-null   float64
 12  RET IVA      3342 non-null   float64
 13  TOTAL MX     3342 non-null   float64
 14  TOTAL SAT    3342 non-null   float64
 15  TIPO         3341 non-null   object
 16  STATUS       3342 non-null   object
 17  POLIZA       21 non-null     object
 18  Columna1     3342 non-null   float64
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 522.2+ KB

In [ ]:
gastos_20['IMPORTE'].describe()

count      3342.000000
mean       3117.307480
std        7346.351633
min      -48907.340000
25%           0.010000
50%         476.435000
75%        2783.000000
max      109239.220000
Name: IMPORTE, dtype: float64

In [ ]:
gastos_20['IVA'].describe()

count     3342.000000
mean       478.139270
std       1355.157158
min      -7825.170000
25%          0.000000
50%         62.005000
75%        386.225000
max      41280.000000
Name: IVA, dtype: float64

In [ ]:
gastos_20=gastos_20.fillna({'FOLIO':'--','GASTO':0, 'TC':'--' ,'POLIZA':'--'})
gastos_20['IMPORTE']=gastos_20 ['IMPORTE'].fillna(round(gastos_20['IMPORTE'].median(),1)) 
gastos_20['IVA']=gastos_20 ['IVA'].fillna(round(gastos_20['IVA'].median(),1))
gastos_20['TIPO']=gastos_20['TIPO'].fillna('I') #Sustituimos con un string seg√∫n el tipo de dato  

gastos_20.isnull().sum()

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROVEEDOR      0
TIPO GASTO     0
GASTO          0
DESCRIPCION    0
TC             0
IMPORTE        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
STATUS         0
POLIZA         0
Columna1       0
dtype: int64

*Gastos y Costos 2021*

In [ ]:
gastos_21.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3035 entries, 0 to 3034
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        3035 non-null   datetime64[ns]
 1   FOLIO        2888 non-null   object
 2   UUID         3035 non-null   object
 3   RFC          3035 non-null   object
 4   PROVEEDOR    3035 non-null   object
 5   TIPO GASTO   3035 non-null   object
 6   DESCRIPCION  3035 non-null   object
 7   MP           2381 non-null   object
 8   TC           3035 non-null   float64
 9   IMPORTE      3035 non-null   float64
 10  IVA          3035 non-null   float64
 11  RET ISR      3035 non-null   float64
 12  RET IVA      3035 non-null   float64
 13  TOTAL MX     3035 non-null   float64
 14  TOTAL SAT    3035 non-null   float64
 15  TIPO         3035 non-null   object
 16  STATUS       3035 non-null   object
 17  POLIZA       663 non-null    object
dtypes: datetime64[ns](1), float64(7), object(10)
memory usage: 450.5+ KB

In [ ]:
gastos_21=gastos_21.fillna({'FOLIO':'--','MP':'--', 'POLIZA':'--'})
gastos_21.isnull().sum()

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROVEEDOR      0
TIPO GASTO     0
DESCRIPCION    0
MP             0
TC             0
IMPORTE        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
STATUS         0
POLIZA         0
dtype: int64

*Gastos y Costos 2022*

In [ ]:
gastos_22.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2577 entries, 0 to 2576
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        2577 non-null   datetime64[ns]
 1   FOLIO        2475 non-null   object
 2   UUID         2577 non-null   object
 3   RFC          2577 non-null   object
 4   PROOVEDOR    2577 non-null   object
 5   TIPO GASTO   2577 non-null   object
 6   DESCRIPCION  2577 non-null   object
 7   MP           2024 non-null   object
 8   TC           1941 non-null   float64
 9   Importe      2577 non-null   float64
 10  IVA          2577 non-null   float64
 11  RET ISR      2577 non-null   float64
 12  RET IVA      2577 non-null   float64
 13  Otros        0 non-null      float64
 14  TOTAL MX     2577 non-null   float64
 15  TOTAL SAT    2577 non-null   float64
 16  TIPO         2577 non-null   object
 17  STATUS       2577 non-null   object
 18  POLIZA       1776 non-null   object
dtypes: datetime64[ns](1), float64(8), object(10)
memory usage: 402.7+ KB

In [ ]:
gastos_22['Otros'].isnull().sum()

2577

Todos los datos en la columna de 'Otros' son valores nulos por lo que vamos a eliminar esa columna

In [ ]:
gastos_22 = gastos_22.drop('Otros', axis=1)

In [ ]:
gastos_22=gastos_22.fillna({'FOLIO':'--','MP':'--', 'TC':'--','POLIZA':'--'})
gastos_22.isnull().sum()

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROOVEDOR      0
TIPO GASTO     0
DESCRIPCION    0
MP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
STATUS         0
POLIZA         0
dtype: int64

*Gastos y Costos 2023*

In [ ]:
gastos_23.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 397 entries, 0 to 396
Data columns (total 20 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   FECHA        397 non-null    datetime64[ns]
 1   FOLIO        384 non-null    object
 2   UUID         397 non-null    object
 3   RFC          397 non-null    object
 4   PROOVEDOR    397 non-null    object
 5   TIPO GASTO   389 non-null    object
 6   DESCRIPCION  397 non-null    object
 7   MP           326 non-null    object
 8   FP           326 non-null    float64
 9   TC           397 non-null    float64
 10  Importe      397 non-null    float64
 11  IVA          397 non-null    float64
 12  RET ISR      397 non-null    float64
 13  RET IVA      397 non-null    float64
 14  Otros        0 non-null      float64
 15  TOTAL MX     397 non-null    float64
 16  TOTAL SAT    397 non-null    float64
 17  TIPO         397 non-null    object
 18  STATUS       397 non-null    object
 19  POLIZA       282 non-null    object
dtypes: datetime64[ns](1), float64(9), object(10)
memory usage: 65.1+ KB

In [ ]:
gastos_23['Otros'].isnull().sum()

397

Todos los datos en la columna de 'Otros' son valores nulos por lo que vamos a eliminar esa columna

In [ ]:
gastos_23 = gastos_23.drop('Otros', axis=1)

In [ ]:
gastos_23=gastos_23.fillna({'FOLIO':'--', 'TIPO GASTO':'OTROS','MP':'--', 'FP':'--', 'POLIZA':'--'})
gastos_23.isnull().sum()

FECHA          0
FOLIO          0
UUID           0
RFC            0
PROOVEDOR      0
TIPO GASTO     0
DESCRIPCION    0
MP             0
FP             0
TC             0
Importe        0
IVA            0
RET ISR        0
RET IVA        0
TOTAL MX       0
TOTAL SAT      0
TIPO           0
STATUS         0
POLIZA         0
dtype: int64

In [ ]:
#Convertir DataFrame a CSV
devoluciones.to_csv('devoluciones_sin_nulos.csv')
clientes.to_csv('clientes_sin_nulos.csv')
facturacion.to_csv('facturacion_sin_nulos.csv')
notas_credito.to_csv('notas_credito_sin_nulos.csv')
gastos_20.to_csv('gastos_2020_sin_nulos.csv')
gastos_21.to_csv('gastos_2021_sin_nulos.csv')
gastos_22.to_csv('gastos_2022_sin_nulos.csv')
gastos_23.to_csv('gastos_2023_sin_nulos.csv')

In [ ]:
#Descargar arhico filtrado en csv
from google.colab import files

files.download('devoluciones_sin_nulos.csv')
files.download('clientes_sin_nulos.csv')
files.download('facturacion_sin_nulos.csv')
files.download('notas_credito_sin_nulos.csv')
files.download('gastos_2020_sin_nulos.csv')
files.download('gastos_2021_sin_nulos.csv')
files.download('gastos_2022_sin_nulos.csv')
files.download('gastos_2023_sin_nulos.csv')